/*
* @Author: x
* @Date:   2017-11-15 18:32:36
* @Last Modified by:   x
* @Last Modified time: 2017-11-16 09:32:41
*/

html,body {
	position: relative; 
	width: 100%; 
	max-width: 540px; 
	height: 100%;
	margin: 0;
	padding: 0; 
	background-color: #696969;
	margin: 0 auto;
}
.window{
    height: 480px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #f0f0f0;
}
#world{
    height: 480px;
    width: 480px;
    float: left;
    position: relative;
}
#wall{
    height: 432px;
    width: 432px;
    border-style: solid;
    border-width: 24px;
    border-color: #778899;
    float: left;
    position: relative;
}
.menu{
    height: 480px;
    width: 120px;
    float: right;
    text-align: center;
    background-color: #a9a9a9;
}
#snack{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: url(../image/snake.png);
    position: absolute;
    left: 24px;
    top: 24px;
}
#food{
    height: 24px;
    width: 24px;
    background: url(../image/food.png);
    position: absolute;
}
.body{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #3cb371;
    position: absolute;
    left: 0px;
    top:0px;
}
#score{
    font-size: 25px;
    font-weight: bold;
    color: #ff6347;
}
.menu div{
    font-size: 20px;
    font-weight: bold;
}